.resim1{
	text-align:center;
}

#döndür {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transition: 4s;
}

#döndür:hover {
    transform: rotate(360deg);
    width: 500px;
    -webkit-transform: rotate(360deg);
}



* {
	margin:0;
	padding:0
}

.menu {
	width:1500px;
	margin:0 auto;
	margin-top:0px;
	background:#eee
}
.menu ul {
	text-align:center;
	
}
.menu ul li {
	list-style:none;
	display:inline-block
}
.menu ul li a {
	display:block;
	background:#eee;
	color:#B22222;
	font-size:30px;
	padding:20px 20px;
	text-decoration:none;
	font-family: Arial
}

.menu ul li ul {
	display:none;
	position:absolute;
	background:#666;
	width:500px
}
.menu ul li ul li {
	display:block
}
.menu ul li:hover > a {
	background:	#FAFAD2
}
.menu ul li ul li a {
	background:#FAFAD2;
	text-align:left
}
.menu ul li ul li a:hover {
	background:#555
}
.menu ul li:hover ul {
	display:block
}